input,
textarea {
    height: 2em !important;
    width: auto !important;
    margin: 0px 0 1em;
    padding: 0.5em;
    border: 1px solid $white;
    font-size: $font-size-norm;
    border-radius: 3px;

    &:focus,
    &:hover {
        border-color: $green;
        outline: none;
    }
}

textarea {
    overflow: hidden;
    resize: none;
    font-family: $font;
}

label {
    font-size: $font-size-norm;
    color: $font-special;
}