/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$pink :         #990033;
$gray-lighter : #f8f3f3;
$gray-light :   #d5d2d5;
$gray :         #808080;
$gray-dark :    #333;
$gray-darker :  #b1b1b1;
$white :        #fff;
$black :        #000;

$blue :         #a4ddeb;
$green :        #43916b;

$brand-primary : $green;
$brand-secondary : $blue;
$font-special : $pink;



//Typography
$font : "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font-size-norm : 1.5em;
$font-size-smaller : 0.9em;
$font-size-larger : 2em;
$font-size-large : 3.5em;
$font-size-large-2 : 2.5em;


//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;