.page {
    font-size: 12px;
    background-color: $white;
    padding: 5em 3em 6.5em;
    width: 77.6em;
    height: 110.12857em;;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}

.image {
    background: url(../images/europe.jpg) no-repeat top center;
    background-size: contain;
    width: 100%;
    height: 39em;
    margin: 5em 0;

    &.asia {
        background-image: url(../images/asia.jpg);
    }

    &.america {
        background-image: url(../images/america.jpg);
    }

    &.africa {
        background-image: url(../images/africa.jpg);
    }

    &.southpacific {
        background-image: url(../images/southpacific.jpg);
    }
}

.choose {
    text-align: center;
}