<link rel="stylesheet" href="styles/print.css">

<div ng-controller="PrintCtrl">
    <div class="choose">
        <p>Region:</p>

        <select ng-model="region" ng-options="region.name for region in regions track by region.name"></select>

        <p>Language:</p>

        <select ng-model="language" ng-options="language.name for language in languages track by language.name" ng-change="changeLanguage(language)"></select>
    </div>

    <div class="page">
        <div class="image {{region.name}}"></div>

        <h1>World Wide Knit in Public Day</h1>
        <h2>13 * June * 2015</h2>

        <p class="special-text">{{ 'description' | translate }}</p>

        <form>
            <div>
                <label>{{ 'where' | translate }}</label>
                <input type="text" value="some place">
            </div>
            <div>
                <label>{{ 'when' | translate }}</label>
                <input type="text" value="some place">
            </div>
            <div>
                <label>Bring:</label>
                <textarea>some place</textarea>
            </div>
        </form>

        <p>World Wide Knit in Public Day was created in 2005 - and is the world largest knitter event.</p>
        <p>More info? - Please visit wwkipday.com.</p>
        <p class="larger-text">Better living through stitching together.</p>
        <p class="smaller-text">Copyright &copy; 2015 Astrid Salling all rights reserved.</p>
    </div>

</div>